body, nav, ul, li, a  {margin: 0; padding: 0;}
a {text-decoration: none;}
.container {
	margin-bottom: 1.5%;
}
.toggleMenu {
    display:  none;
    padding: 10px 15px;
    color: #fff;
	width:100%;
	text-transform:uppercase;font-size:14px; color:#469CA7; border-top:2px solid #469CA7;
}
.nav {
    list-style: none;
     *zoom: 1;
	 border-top: 1px solid #F0F0F0;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 14px 24px;
    color:#666666;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}
.nav > li > .parent {
    /*background-image: url("../img/menu/downArrow.png");*/
    background-repeat: no-repeat;
    background-position: right center;
}
.nav > li > ul > li > .parent{
	background-image: url("../img/menu/arrow-menu.png");
	background-repeat: no-repeat;
    background-position: right center;
}

.nav li ul li a:hover{font-weight:bold;}

.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
	border: 1px solid #469CA7;
	border-top: 2px solid #469CA7;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background: #FFF;
    position: relative;
    z-index:100;
	padding: 14px 14px;
}
.nav li li li a {
    background:#FFF;
    z-index:200;
}

.menuTop{text-transform:uppercase;font-size:14px; border-top:2px solid #FFF;}
.menuTop:hover{text-transform:uppercase;font-size:14px; color:#469CA7; border-top:2px solid #469CA7;}

