@font-face {
font-family: "FontAwesome";
src: url('../fonts/fontawesome/fontawesome-webfont.eot');
src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'),
url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
url('../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
url('../fonts/fontawesome/fontawesome-webfont.svg#FontAwesome') format('svg');
font-weight: normal;
font-style: normal;
-webkit-font-smoothing: antialiased;}
/* Comunes */
body {
	border-top: solid 10px #AE1B21;
	margin:0px;
	background-position:center bottom;
	font-family: 'Droid Sans', sans-serif;
	font-size:13px;
	background-color: #F0F0F0;
}
a{color:#439ca6}
a:hover{color:#388189}

input[type='submit']{
	border: none;
	border-radius:4px;
	height:27px;
	cursor:pointer;
	color:#FFF;
	font-size:14px;
	margin-top:2%;
	margin-bottom:2%;
	text-transform:uppercase;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #439ca6 0%, #388189 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#439ca6), color-stop(99%,#388189)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#439ca6 0%,#388189 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#388189',GradientType=0 ); /* IE6-9 */
}

input[type='submit']:hover{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #388189 0%, #439ca6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#388189), color-stop(100%,#439ca6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#388189 0%,#439ca6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#388189 0%,#439ca6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#388189 0%,#439ca6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#388189 0%,#439ca6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#439ca6',GradientType=0 ); /* IE6-9 */
}

input[type='text']{
	border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    padding: 5px 6px;
	width:70%;
}
input[type='text']:focus{
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(70, 156, 167, 0.6);/*rgba(82, 168, 236, 0.6)*/
    outline: 0 none;
}

textarea{
	width: 100%;
	box-sizing: border-box;
	max-width: 380px;
	height: 150px;
}

.clear{clear:both;}

.superior{
	background: #F99;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
}
.cuerpo{	/* Este es el delimitador para que la página no sea excesivamente grande */
	max-width: 1020px;
	margin:auto;
	box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2);
	padding:15px;
	background-color: #FFF;
	overflow: hidden;
}

.paddingVertical2{padding:2% 0%;}
.font15{font-size:15px;}
hr{border: 1px solid #F0F0F0;}
/*** Header ***/
.cabecera{
	/*height: 131px;*/
}

.headerLeft{
	width: 75%; 
	float:left;
}
.headerRight{width: 25%; float:right;}
.headerLineSecond,.headerLineThird{text-align:right; margin-top:5%;}
.headerLineThird{margin-bottom:5%;}
.headerLineFirst{float:right; width:91%;}
.turneroHeader{float:left; width:45%;}
.phonesHeader{float:left; width:55%;}
.headerText{text-transform:uppercase;color: #999999;}
.headerSearchSubmit{
	background:#439BA5 url("../img/header/header-lupa.png") center no-repeat !important;
	width:27px;
	border: none;
	border-radius:4px;
	height:27px;
	margin-left: 2%;
	cursor:pointer;
	color: transparent !important;
}
.headerSearchSubmit:hover{background:#5BB4BD url("../img/header/header-lupa.png") center no-repeat !important;}
.turneroHeader  img, .phonesHeader img{float:left; margin-right:5px;}
.headerLineSecond form input[type='text']{width:80%;margin-top:0%;margin-bottom:0%;}

/*Agenda*/
.agenda{
	float: right;	/* flotamos el elemento a la derecha */
	width:25%;
}
.TitleEvents{
	background-color:#3D8690;
	text-align:center;
	padding:2%;
	color:#FFF;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow';
	font-size:20px;
}
.events{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #3D8690;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 20px;
}
.event{
	padding:2%;
	border-bottom:2px solid;
}
.dateEvent{float:left; text-align:center; width:17%;;color:#B03333; font-weight:bold;}
.dayEvent{font-size:24px;}
.monthEvent{font-size:16px;}
.titleEvent{color:#666;font-weight: bold;padding: 2% 0;}
.receiversEvent{text-align:center;color:#B03333;}
.dropEvent{color:#666; float:right;width:83%;font-size:12px;}
.contenido{
	width: 73%;
	/*margin-right: 35%;*/
	/*height: 900px;*/
}

.bookmark sup {
	position: absolute; padding-top: 4px;
	font-size: 10px; line-height: 10px; letter-spacing: normal;
}

/* year + month */
.bookmark abbr {
	display: block; font: 10px Verdana, sans-serif; letter-spacing: normal; color: white;
	-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px;
}

/* month */
.bookmark>:first-child {
	width: 91%; 
	margin: -1px 0 0 -1px; 
	padding: 0 5%; 
	border: none;
	line-height: 25px; 
	font-size:16px;
	text-align: left; 
	text-transform: uppercase;
	background: #a33537;
	border-radius: 5px 5px 0 0;
	-Moz-border-radius: 5px 5px 0 0;
	-Webkit-border-radius: 5px 5px 0 0;
	background: # D10000;
	background:-moz-linear-gradient (top, # D10000 0%, # 7a0909 100%);
	background:-webkit-lineal de gradiente (arriba, # D10000 0%, # 7a0909 100%);	
}

/* year */
.bookmark sup+abbr {
	position: absolute; 
	top: 0; 
	left: 0;
	width: 94%; 
	padding: 0 3%;
	line-height: 25px; 
	color: #eaa; 
	font-size:16px;
	text-align: right;
}

/* time */
.bookmark sub {
	display: none; border-top: 1px solid #bbd; margin: 0 3px;
	font: 16px/27px 'PT Sans Narrow', Verdana, sans-serif; letter-spacing: normal; text-align: center; color: #aac;
}


.bookmark sub {
	display: block;
}

.bookmark {
	display: block; 
	position: relative; 
	width: 15%; 
	height:15%;
	margin-bottom: 18px;
	font: 40px/55px 'PT Sans Narrow', Arial, sans-serif;
	text-align: center;
	letter-spacing: 2px; 
	color: #666;
	margin-bottom: 0; 
	border: 1px solid #CCC;
	box-shadow:0 0 15px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	-Moz-border-radius: 5px;
	-Webkit-border-radius: 5px;
	/*box-shadow: 0px 0px 15px rgba (0,0,0,0.1);
	-Moz-box-shadow: 0px 0px 15px rgba (0,0,0,0.1);
	-Webkit-box-shadow: 0px 0px 15px rgba (0,0,0,0.1);*/
	float:left;
	margin-right:2%;
	margin-top:2%;
}
.eventHeaderRight{float:right;margin-top:2%; margin-left:2%;}
.eventHeaderLeft{float:left;}
.eventData{float:left;margin-top:2%;}
.eventTitle{float:left;color:#AE1B21; font-size:20px; padding:4% 0;}
.eventImage{float:left;}
.specialityHeader{overflow:hidden;}
.contentSpeciality{padding:2%;}
.contentSpeciality p {color:#666666; font-family: Arial; font-size:13px;line-height:1.5}

/* Prensa */
.prensa{float:right; width:25%;}
.TitleEditos{
	padding:2% 2% 2% 10%;
	color:#FFF;
	text-transform:uppercase;
	font-family: 'PT Sans Narrow';
	font-size:20px;
	border-bottom:2px solid #C26A6A;}
.editors{background: #B03333;margin-top:4%;}
div.prensa div.editors a img,.agenda div.editors a img{float: right;position: relative;top: -20px;margin-right:7%;}

.editorText{font-family: 'PT Sans Narrow';
	font-size:18px; color:#FFF;
	padding:4% 2% 5% 10%;}
.contenidoHome div#contenedor div.lastNews div.boxTitle	{padding:0px !important;}
/*** Body ***/
#contenedor .bloque{
	display: inline-block;	/* Es esencial para que se muestren los bloques en línea */
	height:250px;
	width: 250px;
	border:1px solid #333;
	background: #999;
	margin:20px;
}

.icon-home:before {
    content: "\f015"; 
    font-family: FontAwesome;
    font-style: normal;
    font-size: 1.33333em;
/*--adjust as necessary--*/    
    /*font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;*/
}

.breadcrumb a{
	font-family: Arial;
	font-size:11px;
	/*text-decoration:underline;*/
	color:#666666;
}
.boxBoxTitle{
 color:#439CA6;
 padding: 0% 0 1%;
 text-transform:uppercase;
 font-size:23px;
 margin-bottom:1%;
}

.pageTitle, .boxTitle{
 color:#439CA6;
 padding: 3% 0 1%;
 text-transform:uppercase;
 font-size:23px;
 border-bottom: 1px solid #439CA6;
 margin-bottom:1%;
}
.boxTitle{border:none;}
.pageTitle span, .boxTitle span{font-weight:bold;}
.pageBody{
	color:#666; 
	font-family:'Arial', sans-serif; 

}
.pageBody h3 {color:#AD1A20; font-size:20px;font-family:'Droid Sans', sans-serif;margin-bottom: 5px;}
.pageBody ul{padding:0 15px;}
.pageBody ul li{
	padding-bottom:1%;
	padding-left:2%;
	list-style-type: none;
	background: #fff url('../img/body/body-list-style.png') 0 5px no-repeat;
}

.bodyValores{background-color:#F0F0F0; padding: 1px 15px 15px 15px;}
.bodyValores h3{color:#469DA7;font-size:20px;font-family:'Droid Sans', sans-serif;}
.actionsBody{text-align:right;width:100%;}
.actionsBody button{  
	background-color: #FFFFFF;
	color:#AD1A20;
    border: medium none;
    cursor: pointer;}

.addthis_toolbox.addthis_default_style{margin-top:2%;}
/*Footer*/
.footer{
	background-color:#DADDE2;
	color: #7B7B7B;
}
.footer div.container{	/* Este es el delimitador para que la página no sea excesivamente grande */
	/*No le pongo como el contenedor principal 1020px porque este no tiene el padding:15px*/
	max-width: 1050px;
	margin:auto;
}
.copyright{
	display: inline-block;
	background-image:url('../img/footer_background.png');
	background-repeat:repeat-x;
	width:100%;
	height:30px;
	color:#FFF;
}

.footer-first,.footer-second,.footer-third{	
	display: inline-block;	/* Es esencial para que se muestren los bloques en línea */
	padding:15px;
}
.footer-first{width: 29%;}
.footer-second{width: 21%; position:absolute;padding-left: 30px;}
.footer-third{width: 30%; float:right;}

.footer-first{background-color:#E3E7EA;}
.footerSuscription{
	border-top:1px solid #CFD5D9;
	border-bottom:1px solid #CFD5D9;
	padding:4% 0%;
}
.footerSuscription .footerSuscriptionTitle{text-transform:uppercase; font-size:16px;text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);letter-spacing:0.7px;}
.footerNewsletterSubmit{margin-left:2%;}
.footerCV{padding:4% 0%;}
.footerCV img, .footer-second img{float:left; margin-right:2%;}
.footer-second span{line-height:1.5;}
.footerAddress{padding:7% 0;}
.footerPhones{padding:7% 0;}
.footerEmail{padding:7% 0;}
.footerSocial{text-align:right; margin-top:5%;margin-bottom:5%;}

.footerPhones{
	border-top:1px solid #CFD5D9;
	border-bottom:1px solid #CFD5D9;
}

#creditos{float:right; line-height:2;}




/** Last News **/
.lastNews div.box-notice{
	float:left;
	width:22.6%;
	margin-right:3%;
}
.lastNews div.box-notice img{border-top-right-radius:2em; margin-bottom:-3px;}
.lastNews div.box-notice.lastNotice{
	margin-right:0%
}
.contetTypeNotice{
	border-left: 1px solid rgba(255, 0, 0, .5);
	display:block;
	text-transform:uppercase;
	color:#FFFFFF;
	background-color:#AA3131;
	padding: 3px 5px;
	font-size:11px;
}

.typeNotice{text-align:left; width:50%;}
.dateNotice{text-align:right;width:50%; float:right;}

.contentLastNews{background-color:#F0F0F0;padding:5%;min-height: 190px; border-bottom:4px solid #D5D7D8;}
.contentLastNews span.noticeTitle{color:#3D8690; font-weight:bold;}
.noticeDrop{color:#666666;}
.reddMoreLastNews{
	border-top-right-radius:5px;
	font-weight:bold;
	border-top-left-radius:5px;
	background-color: #AA3131;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
	font-family: arial;
    height: 25px;
    line-height: 1.6;
    position: relative;
    right: 7%;
    text-align: center;
    top: -25px;
    width: 25px;
}
.reddMoreLastNews:hover{color: #FFFFFF;opacity:0.8; }


/*** Home ***/

.homeCallToActions{	
	padding:1.5%;	
    margin: 2% 0;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #439ca6 0%, #388189 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#439ca6), color-stop(99%,#388189)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#439ca6 0%,#388189 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#388189',GradientType=0 ); /* IE6-9 */
}

.homeCallToAction{
	display: inline-block;
	padding:3%;
	color:#66666;
	width:17%;
	text-transform:uppercase;
	display: inline-block;	/* Es esencial para que se muestren los bloques en línea */
	background-color:#FFF;
	border-left: 5px solid #D0D0D0;
	border-top-right-radius:25px;
	margin-right:16px;
	text-align:center;
	font-size:14px;
}
.homeCallToAction:hover{background-color:#9EC7A6;border-left: 5px solid #AA3131;}
.homeCallToActions a {color:#666666;}
.homeCallToAction  span{font-weight:bold;}
.homeCallToAction.last{margin-right:0px;}
.CTAText{color:#3D8690;}


/*** Contact ****/
.contactInfoLeft{color:#666666;	
	font-family: 'Arial', sans-serif;
	font-size:13px;
	padding:1%;
	line-height:1.5;}
.contactText{background-color:#F0F0F0;color:#3D8590; margin:1% 0; font-size:15px; padding:1% 0 1% 1%;}
.contactInfoRight{float:right;}
.contactInfoLeft{float:left;}
.contactInfo h2 {color:#AD1A20; font-size:15px;font-family:'Droid Sans', sans-serif; font-weight:normal;}
.contactForm{padding:3% 1% 1%; background-color:#3D8690; font-family: 'Arial';}
.contactField{margin:1% 0; width:100%;}
.contactField input.input_text{width:72%;float:right;}
.contactField textarea.input_text {float:right;}
.contactLabel{width:22%;color:#FFF; text-align:right; float:left;}
.contactForm form{margin:0 auto; width:70%;}
.contactField input.boton{float:right; color: #3D8690; background:#F0F0F0;}
.contactField input.boton:hover{color: #F0F0F0; background:#71BECE;}
.formContact{float:left;width:100%;margin-bottom:3%;}

/*** Novedades ***/

.pagersNovedades, .pagersBoletin{float:right; font-family:'Arial'; font-size:12px; margin-top:1%; margin:1% 0; cursor:pointer;}
.pagersNovedades a, .pagersBoletin a,{color:#AA3131;}
.page-notice div.newsContent div.contetTypeNotice,div.noticeHeaderLeft div.contetTypeNotice{background-color:#469CA7;color:#FFF;}
.page-notice{
	float:left;
}
.page-notice img{border-top-right-radius:2em; margin-bottom:-3px; float:left;}
.newsContent{float:right;width:68%;}
.contentNews{background-color:#F0F0F0;padding:2%;border-bottom:4px solid #D5D7D8; height:117px;}
.contentNews:hover{/*text-decoration:underline;*/}
.contentNews span.noticeTitle{color:#3D8690; font-weight:bold;}

.noticeHeaderRight{float:right;width:46%;margin-top:2%;}
.noticeHeaderLeft{float:left;width:52%;margin-top:2%;}
div.noticeHeaderLeft div.noticeTitle{color:#AE1B21; font-size:20px; padding:4% 0;}
div.noticeHeaderLeft div.noticeDrop{font-weight:bold;margin-bottom:4%;}

html body div.cuerpo div.contenido div#contenedor div.noticeHeaderRight div.noticeImage img{width:350px;height:auto;}
/* call to actions Laterales*/

.lateralCallToActions{	
    margin: 4% 0;
    padding: 2% 4%;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #439ca6 0%, #388189 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#439ca6), color-stop(99%,#388189)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#439ca6 0%,#388189 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#439ca6 0%,#388189 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#388189',GradientType=0 ); /* IE6-9 */
}

.lateralCallToAction{
	color:#66666;
	text-transform:uppercase;
	display: inline-block;	/* Es esencial para que se muestren los bloques en línea */
	background-color:#FFF;
	border-left: 5px solid #D0D0D0;
	border-top-right-radius:15px;
	text-align:left;
	padding: 3%;
	width:92%;
	font-size:14px;
	margin:2% 0%;
}
.lateralCallToAction img{float:left; margin-right: 5%;}
.lateralCallToAction:hover{background-color:#9EC7A6;border-left: 8px solid #AA3131;}
.lateralCallToActions a {color:#666666;}
.lateralCallToAction  span{font-weight:bold;}
.lateralCallToAction.last{margin-right:0px;}
.CTAText{color:#3D8690;}


/* Especialidades */

.specialitisLeft{float:left;width:49%;}
.specialitisRight{float:right;width:49%;}
.specialityLetter{background-color:#F0F0F0;padding:1% 3%;color:#AE1B21;font-size:20px;}
.specialityName{
font-family:'Arial';  
font-size:12px; 
color:#666666;
padding:3%;
border-bottom:1px solid #F0F0F0;
font-weight:bold;
background:url('../img/speciality-row.png') 98% 50% no-repeat;}
.specialityName:hover{color:#F0F0F0;background: #B03939 url('../img/speciality-row-hover.png') 98% 50% no-repeat;}


/* Especialidad */
.titleSpeciality{color:#AE1B21; font-size:20px;}
.specialityTitle{color:#FFFFFF; font-size:20px;width:96%;background:#3D8690;padding: 0.5% 2%;}
.specialityHeaderLeft{width:42%;float:left;background:#F0F0F0; height:136px;}
.specialityHeaderRight{width:58%;float:right; text-align:right;}
.specialityHeaderLeft ul.ui-tabs-nav{margin-top:2%; margin-left:10%; background:transparent; border:none;}
.specialityHeaderLeft ul.ui-tabs-nav li.ui-state-default{list-style: url('../img/icons/row-li.png');line-height: 1.5;background:transparent; border: none; width:100%;font-size:13px;}
.specialityHeaderLeft ul.ui-tabs-nav li.ui-state-default a{color:#666666; padding:0;}
.specialityHeaderLeft a:hover{font-weight:bold;}
#tabs.ui-tabs{border:none;}
.ui-tabs-panel{padding:0 !important;}

/* Mutuales */
.healthName{    
	border-bottom: 1px solid #F0F0F0;
    float: left;
    margin: 1%;
	margin-right:1px;
	margin-bottom:0;
    padding: 1% 0 1% 2%;
    width: 30%;
	background:url("../img/body/body-list-style.png") no-repeat scroll 0% 50% #FFFFFF;
	color:#666666;
	font-size:12px;
}
.art, .obrasSociales, .prepagas{float:left; width:100%;}
.art, .obrasSociales{padding-top:3%;}
.prepagas{padding-top:1%;}
/* Buscador */
.contentSearch{margin:2% 0%; border-bottom:1px solid #F0F0F0;padding-bottom:1%;}
.titleSearch{font-size:16px; color:#B03939;padding-bottom:1%;}


/* Boletines */
.sentSubTitle{color:#AE1B21; font-size:20px; float:left; padding-left:1%;}
#boletinesAjax{padding-top:2%;}
.boletines a{width:30.5%; float:left; margin:1%; border:3px Solid #CCCCCC;}
.boletines{ padding-top:4%}
.pagersBoletin{margin-right:2%;}
.boletinContent{overflow:hidden;}
.contentBoletin{background-color:#CCCCCC;padding: 4% 2%;}
.contentBoletin:hover{/*text-decoration:underline;*/}
.contentBoletin span.boletinTitle{color:#B03939; font-weight:bold; font-size:13px;}
.contentBoletin span.dateBoletin{color:#666666; font-size:11px;}

