@media screen and (max-width: 480px) {
	div{
		display: block !important;	/* Cuando el ancho sea inferior a 600px el elemento será un bloque */
		width: 100% !important;
		max-width: 100% !important;
		margin: auto !important;
		position: static !important;
		float: none !important;
	}
	.cuerpo{
		padding:0px;
		box-shadow:none;
	}
	
	.footer-first,.footer-second,.footer-third{
		padding:0px;
	}
	
	.headerLeft{
		text-align:center;
	}
}